In [11]:
print(index)

5

In [21]:
for index in range(6):
    print(index)

0
1
2
3
4
5

In [2]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'index',
 'quit']

In [8]:
print(quit)

<IPython.core.autocall.ZMQExitAutocall object at 0x00000292E3850710>

In [10]:
print(index)

5

In [12]:
print(get_ipython)

<bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000292E2CDA3C8>>

In [13]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [15]:
name= input('whta is your name? ')

whta is your name? ram

In [16]:
name

'ram'

In [17]:
print('hello',name)

hello ram

In [18]:
print('hello',name, 'welcome to python')

hello ram welcome to python

In [20]:
print('hello', name + ' welcome to python')

hello ram welcome to python

In [22]:
print('list of object names in _main_ namespace:')
print(dir())

list of object names in _main_ namespace:
['In', 'Out', '_', '_16', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'index', 'name', 'quit']

In [23]:
import math
print('list of object names in _main_ namespace', end=' ')
print('after "import math" has execute:')
print(dir())

list of object names in _main_ namespace after "import math" has execute:
['In', 'Out', '_', '_16', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'index', 'math', 'name', 'quit']

In [24]:
print('the value of pi is' , math.pi)

the value of pi is 3.141592653589793

In [25]:
print('the tangent of 1 is ', math.tan(1))

the tangent of 1 is  1.5574077246549023

In [26]:
del(math)

In [27]:
import math as fun
print('list of object names in _main_namespace:')
print(dir())

list of object names in _main_namespace:
['In', 'Out', '_', '_16', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'fun', 'get_ipython', 'index', 'name', 'quit']

In [30]:
print('The value of pi ' ,fun.pi)
print('The tangent of 1 is ' ,fun.tan(1))

The value of pi  3.141592653589793
The tangent of 1 is  1.5574077246549023

In [36]:
print('List of object name in _main_ namespace:')
print(dir())
from math import pi, tan
print('list of object name in _main_namespace', end=' ')
print('after "from math import pi,tan" has executed:')
print(dir())
print('the value of pi is ' ,pi)
print('the tangent of i is',tan(1))
del(pi)

List of object name in _main_ namespace:
['In', 'Out', '_', '_16', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'fun', 'get_ipython', 'index', 'name', 'pi', 'quit', 'tan']
list of object name in _main_namespace after "from math import pi,tan" has executed:
['In', 'Out', '_', '_16', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'fun', 'get_ipython', 'index', 'name', 'pi', 'quit', 'tan']
the value of pi is  3.141592653589793
the tangent of i is 1.5574077246549023

In [32]:
print('the value of pi ' ,pi)

the value of pi  3.141592653589793

In [33]:
print("the tangent of 1 ",tan(1))

the tangent of 1  1.5574077246549023

In [38]:
from math import pi
radius = input('what is the circle radius?')
print('The area of the circle is=',float(radius) **2*pi)
print('The circumfrance of the circle is=', 2*float(radius)*pi)

what is the circle radius?5
The area of the circle is= 78.53981633974483
The circumfrance of the circle is= 31.41592653589793

In [39]:
x=10
type(x)

int

In [52]:
x=5
y=10
y=0xA
y=0O12
y=0B1010
print('x=',x,', ','y=',y)
print('x//y=', divmod(x,y))
print('pow(x,y)= ',pow(x,y) )
print('abs(-x) =',abs(-x))
print('int(5.32)=',int(5.32))
print('float(x)=',float(x))

x= 5 ,  y= 10
x//y= (0, 5)
pow(x,y)=  9765625
abs(-x) = 5
int(5.32)= 5
float(x)= 5.0

In [73]:
x,y=10,5
print('x=',x , ',' ' y =', y)
print('or: x|y=',x|y)
print('xor: x^y=',x^y)
print('And: x&y=',x&y)
print('Left shift: x<<y=', x<<y)
print('Ringht shift: x>>y=', x>>y)
print('inversion: ~x=' , ~x)

x= 10 , y = 5
or: x|y= 15
xor: x^y= 15
And: x&y= 0
Left shift: x<<y= 320
Ringht shift: x>>y= 0
inversion: ~x= -11

In [11]:
x=['123','234']
x.reverse()
print(x)

['234', '123']

In [4]:
x=['hello', 'my', 'name', 'is', 'ram']
x.reverse()
print(x)

['ram', 'is', 'name', 'my', 'hello']

# python syntax

In [5]:
print('hello my name is shyam and age is')

hello my name is shyam and age is

In [6]:
# python indentations
# python uses indentation to indicate a block of code
if 12>5:
    print('twelve is greater than five')

twelve is greater than five

# Python variables

In [16]:
# Unlike other programming langauges,python has no command for declaring a variable
# Variable can not start with number or special character
x=5
y='jhon'
print(x)
print(y)
#print(x+y)
x=20
y=56
print(x+y)

5
jhon
76

In [11]:
x='awesome'
print('python language is '+ x )

python language is awesome

In [13]:
x='python is '
y='awesome'
z=x+y
print(z)

python is awesome

# Python number { int(),float(),coplex(),bin(),oct(),hex() }

In [2]:
# There are three number type in python(int,float,complex)
x=1 # int(+ or- 5)
y=2.25 # float(+ or - 1.20,2.25)
z=2+3j # complex(2+3j)
print(x ,y,z)
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))
q=.0235
print(type(q))

1 2.25 (2+3j)
1
2.25
(2+3j)
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>

In [26]:
x=35e3
y=12E4
z=-856.65e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
x=3+5j
y=3j
z=-6j
print(type(x))
print(type(y))
print(type(z))
print(z)
print(y)

<class 'complex'>
<class 'complex'>
<class 'complex'>
(-0-6j)
3j

# Number system

In [9]:
# Decimal to binary , octal ,hexadecimal conversionn
print(bin(25))
print(oct(2535))
print(hex(2589))

0b11001
0o4747
0xa1d

In [17]:
# user input
n=int(input("Enter a decimal number: "))
print("This is binary  no=",bin(n))
print('this is octal no=',oct(n))
print('this is hexadecimal no=',hex(n))

Enter a decimal number: 256987
This is binary  no= 0b111110101111011011
this is octal no= 0o765733
this is hexadecimal no= 0x3ebdb

In [22]:
# binary,octal,hexadecimal to convert decimal(0B1010,0O2356,0X538abc)
x=0B10101
y=0O3256
z=0Xabcd
print(x)
print(y)
print(z)

21
1710
43981

In [26]:
# user input for converst to decimal number
x=input('Enter binary number: ')
#y=input("enter octal number: ")
#z=str('Enter hexadecimal number: ')
print(0b*x)

SyntaxError: invalid token (<ipython-input-26-20e4ae22a221>, line 5)

# Python casting

In [4]:
# Specify a variable type
# int()
# float()
# str()
x= int(1) # x will be 1
y=int(2.85) # y will be 2
z=int('25') # z will be 25
print(x)
print(y)
print(z)

1
2
25

In [5]:
x=float(2) #x will be 2.0
y=float(2.25) # y will be 2.25
z=float('36') # z will be 36.0
w=float('35.56') # w will be 35.56
print(x)
print(y)
print(z)
print(w)

2.0
2.25
36.0
35.56

In [6]:
x=str('xyz25') # x will be xyz25
y=str(36)  # y will be 36
z=str(3.256) # z will be 3.256
print(x)
print(y)
print(z)

xyz25
36
3.256

# Python Strings

In [8]:
# String Literals in python are surrounding by either single quotation marks,or double quotation marks.
# 'hello' is the same "hello"
# Indexing or character at position
# starting from left to right=0,1,2,3,4,5,6-----
# starting froma ribght to left = -1,-,2,-3,-4,-5,-6--
x= 'hello dear my name is ram'
print(x[0])
print(x[1])
print(x[-1])
print(x[-2])
print(x[0:])
print(x[0:4])
print(x[1:6])
print(x[:10])

h
e
m
a
hello dear my name is ram
hell
ello
hello dear

In [10]:
# Use of strip
qq='hello dear sir '
print(qq.strip())

hello dear sir

In [17]:
# Use of len() that means count the letters
a='hello dear student'
x=('hi my name is ram')
q=['hello boys']
y=('hello','dear','name')
print(len(a))
print(len(x))
print(len(q))
print(len(y))

18
17
1
3

In [18]:
# Use lower and upper case for capitalize letter
x='hello world'
y='HELLO DEAR'
print(x.upper())
print(y.lower())

HELLO WORLD
hello dear

In [23]:
# The replace() method replaces a string with another string
x=('hello world')
print(x.replace('h','j'))
print(x.replace('hello','Earth'))

jello world
Earth world

In [29]:
# The split() method splits the string into substrings if it finds instances of the separator
x=('Mathematics is good subject')
print(x.split())

['Mathematics', 'is', 'good', 'subject']

In [30]:
# use of input
print('Enter your name:')
x=input()
print('hello, ',x)

Enter your name:
ram
hello,  ram

# Python Operators

# Pyhton operators is 7(Airthmetic,Assignment,comparison,Logical,Identity,membership,Bitwise)

# Airthmetic Operators

In [40]:
x=3
y=8
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x//y) # floar division
print(x**y) # exponentiation
print(x%y) # Modulus
x=20
x+=10
print(x)
y=10
y-=5
print(y)
z=25
z*=2
print(z)
q=4
q/=2
print(q)
w=6
w//=3
print(w)
e=2
e**=3
print(e)

11
-5
0.375
24
0
6561
3
30
5
50
2.0
2
8

# Comparison Operators

In [43]:
x=25
y=30
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

# Python Logical Operators

In [55]:
# and, or, not
x=45
y=50
print(x!=y and y!=x)
print(x==y and x!=y)
print(x==y and x>y)
print(x==y or x!=y)
print(x==y or x>y)
print(x>y or y>x)
z=(x!=y and x==y)
print(not(z))

True
False
False
True
False
True
True

# Python Identity Operators

In [61]:
# is and is not
x=(1,2,3,4,5,6)
y=(3,2,4,5,6,7,8)
print(x is y)
print(x is not y)
a='hello dear'
b=a
print(a is b)
print(a is not b)

False
True
True
False

# Python Membership Operators

In [66]:
x=(1,2,3,4,5)
y=('hello','dear','banana')
print(x in y)
print(x not in y)
print(4 in x)
print('dear' in y)

False
True
True
True

# Bitwise operators

# Python list

In [67]:
# Python Collections (Arrays)
# There are four collection data types in python programming language:
#List,Tuple,Set,Dictionary

In [71]:
# list is a collection which is ordered and changeable. Allows dublicate members. List are written with square brackets.
fruits=['apple','banana','cherry','mango']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])
fruits[0]='gavava' # replace the value
print(fruits)

['apple', 'banana', 'cherry', 'mango']
apple
banana
cherry
['gavava', 'banana', 'cherry', 'mango']

In [72]:
# Loop through a List
fruits=['apple','banana','cherry','mango']
for x in fruits:
    print(x)

apple
banana
cherry
mango

In [79]:
# Check the item is exists
fruits=['apple','banana','cherry','mango']
if 'banana' in fruits:
    print("yes,'banana' is in the fruits list ")
else: 
    print('No banana is not in list')

yes,'banana' is in the fruits list

In [80]:
# List lenght
fruits=['apple','banana','cherry','mango']
print(len(fruits))

4

In [81]:
# Add Items in List using the append() method toappend an item
fruits=['apple','banana','cherry','mango']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'orange']

In [83]:
# To add  an item at the specified index use the insert() method
fruits=['apple','banana','cherry','mango']
fruits.insert(0,'orange')
print(fruits)
fruits.insert(1,'orange')
print(fruits)

['orange', 'apple', 'banana', 'cherry', 'mango']
['orange', 'orange', 'apple', 'banana', 'cherry', 'mango']

In [92]:
# remove item , there are several method to remove items from alist
fruits=['apple','banana','cherry','mango']
fruits.remove('apple')
print(fruits)
fruits.remove('banana') # only one item is remove 
print(fruits)

['banana', 'cherry', 'mango']
['cherry', 'mango']

In [95]:
# Use of del ,The del keyword remove the specified index:
fruits=['apple','banana','cherry','mango']
del fruits[0]
print(fruits)
del fruits[1]
print(fruits)

['banana', 'cherry', 'mango']
['banana', 'mango']

In [96]:
# Clear ,The clear() method empties the list
fruits=['apple','banana','cherry','mango']
fruits.clear()
print(fruits)

[]

In [98]:
# the list() Constructor use a double round brackets.
x=list(('apple','banana','cherry','mango'))
print(x)

['apple', 'banana', 'cherry', 'mango']

In [101]:
# use of copy() method
fruits=['apple','banana','cherry','mango']
q=fruits.copy()
print(q)

['apple', 'banana', 'cherry', 'mango']

In [104]:
# Python List count() method
fruits=['apple','banana','cherry','mango','cherry']
x=fruits.count('cherry')
print(x)
num=[1,2,3,4,5,6,5,4,3,2,3]
a=num.count(2)
print(a)

2
2

In [109]:
# Python List extend() method
fruits1=['apple','banana','cherry','mango']
nums1=[1,2,3,4]
fruits1.extend(nums1)
print(fruits1)
fruits2=['apple','banana','cherry','mango']
nums2=[1,2,3,4]
nums2.extend(fruits2)
print(nums2)

['apple', 'banana', 'cherry', 'mango', 1, 2, 3, 4]
[1, 2, 3, 4, 'apple', 'banana', 'cherry', 'mango']

In [111]:
# Python List index() method
fruits1=['apple','banana','cherry','mango']
x=fruits.index('banana')
print(x)
num=[1,2,3,4,5,6,7]
a=num.index(5)
print(a)

1
4

In [118]:
# Python List pop() method remove the element by indexing number
fruits=['apple','banana','cherry','mango']
fruits.pop(0)
print(fruits)
number=[22,33,44,55]
q=number.pop(0) # return the removed element
print(q)

['banana', 'cherry', 'mango']
22

In [121]:
# Python List reverse() method
fruits1=['apple','banana','cherry','mango']
fruits1.reverse()
print(fruits1)

['mango', 'cherry', 'banana', 'apple']

In [129]:
# python List sort() method arrange in increasing order by number
numbers=[1,4,3,5,6,78,44]
numbers.sort()
print(numbers)
car=['ford','bmw','volvo']
car.sort()
print(car)
car1=['ford','bmw','volvo']
car1.sort(reverse=True)
print(car1)

[1, 3, 4, 5, 6, 44, 78]
['bmw', 'ford', 'volvo']
['volvo', 'ford', 'bmw']

# Python Tuples

In [131]:
# A tuple is a collection which is ordered and unchangeable. In python tuple are written with round brackets.
name=('rana','shyam','akash','gagan')
print(name)
print(name[1]) # Access tuple items

('rana', 'shyam', 'akash', 'gagan')
shyam

In [135]:
# Change tuple values
name=('rana','shyam','akash','gagan')
name[1]='ravi' # we can not change the value
print(name)

TypeError: 'tuple' object does not support item assignment

In [136]:
# Loop through a tuple
name=('rana','shyam','akash','gagan')
for x in name:
    print(x)

rana
shyam
akash
gagan

In [138]:
# Check if item exixts
name=('rana','shyam','akash','gagan')
if 'rana' in name:
    print('yes')

yes

In [139]:
# Tuple Lenght
name=('rana','shyam','akash','gagan')
print(len(name))

4

In [140]:
# Add items, we can not change and remove items
name=('rana','shyam','akash','gagan')
name[2]='tata'
print(name)

TypeError: 'tuple' object does not support item assignment

In [143]:
# Use of del keyword
name=('rana','shyam','akash','gagan')
del name(1) # we can not use del keyword
print(name)

SyntaxError: can't delete function call (<ipython-input-143-10e4c15d2baa>, line 3)

In [144]:
# The tuple() Constructor
name=tuple(('rana','shyam','akash','gagan'))
print(name)

('rana', 'shyam', 'akash', 'gagan')

In [146]:
# Python Tuple count() method
num=(1,2,3,4,5,5,6,5,4,3,2,3,4,2,1)
x=num.count(2)
z=num.count(1)
print(x)
print(z)

3
2

In [147]:
# Python tuple index() method
num=(1,2,3,4,5,6,7,8,7,6,3,4,5,2,3)
x=num.index(2)
print(x)

1

# Python Set

In [1]:
# A set s a collection which is unordered and unindexed. In pyhon set are written with curly brackets.
thisset = {'apple','banana','cherry'}
print(thisset)

{'banana', 'apple', 'cherry'}

In [2]:
# Access items
thisset = {'apple','banana','cherry'}
for x in thisset:
    print(x)

banana
apple
cherry

In [3]:
thisset = {'apple','banana','cherry'}
print('banana' in thisset)

True

In [8]:
# Add items to set using add() method:
thisset = {'apple','banana','cherry'}
thisset.add('orange')
print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [10]:
# Add multiple items to a set, using the update() method:
thisset ={'apple','banana','cherry'}
thisset.update(['orange','mango','grapes'])
print(thisset)
print(len(thisset))

{'grapes', 'orange', 'mango', 'banana', 'apple', 'cherry'}
6

In [13]:
# To remove an item in a set, use the remove() ,or the dischard() method.
thisset ={'apple','banana','cherry'}
thisset.remove('banana')
print(thisset)
thisset ={'apple','banana','cherry'}
thisset.discard('banana')
print(thisset)

{'apple', 'cherry'}
{'apple', 'cherry'}

In [19]:
# Remove the last item by using the pop() method
thisset ={'apple','banana','cherry'}
x=thisset.pop()
print(x)
print(thisset)

banana
{'apple', 'cherry'}

In [20]:
# The clear() method empties the set:
thisset ={'apple','banana','cherry'}
thisset.clear()
print(thisset)

set()

In [23]:
# The del keyword will delet the set completely
thisset ={'apple','banana','cherry'}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [24]:
# The set() Constructor
thisset =set(('apple','banana','cherry'))
print(thisset)

{'banana', 'apple', 'cherry'}

In [25]:
# Python set copy() method
thisset ={'apple','banana','cherry'}
x=thisset.copy()
print(x)

{'banana', 'apple', 'cherry'}

In [28]:
# Python set difference() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
q=y.difference(x)
print(z)
print(q)

{'banana', 'cherry'}
{'microsoft', 'google'}

In [29]:
#Python set difference_update()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y) 
print(x)

{'banana', 'cherry'}

In [31]:
# python set intersection() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y) 
print(z)
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
result = x.intersection(y, z)
print(result)

{'apple'}
{'c'}

In [34]:
# Remove the items that is not present in both x, and set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y) 
print(x)
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
x.intersection_update(y, z)
print(x)

{'apple'}
{'c'}

In [36]:
#Return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y) 
print(z)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.isdisjoint(y) 
print(z)

True
False

In [37]:
#Return True if all items set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y) 
print(z)

True

In [38]:
# Use of issuperset() method
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y) 
print(z)

True

In [39]:
#Python Set union() Method 
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'microsoft', 'banana', 'google', 'apple', 'cherry'}

# Python Dictionaries

In [26]:
# Python dictionary is a collection which is unordered ,changeable and indexed. in python dictionaries are written with curly bracket,and they have keys and values
numbers={'num1':10,'100':20,'num3':30,'num4':40}
names={'ram':'shyam','akash':'alok','naveen':'sohan'}
print(names) # we can use int or str
print(numbers)

{'ram': 'shyam', 'akash': 'alok', 'naveen': 'sohan'}
{'num1': 10, '100': 20, 'num3': 30, 'num4': 40}

In [5]:
# Accessing items, this is also called get() method
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
x=numbers['num4']
z=numbers.get('num4')
print(x)
print(z)

40
40

In [6]:
#Change the value
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
numbers['num3']=100
print(numbers)

{'num1': 10, 'num2': 20, 'num3': 100, 'num4': 40}

In [14]:
# Loop through a dictionary
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
for x in numbers:
    print(x)
    #print(numbers[x])

num1
num2
num3
num4

In [15]:
# Loop through a dictionary
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
for x in numbers:
    print(numbers[x])

10
20
30
40

In [16]:
# Loop through a dictionary
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
for x in numbers:
    print(x)
    print(numbers[x])

num1
10
num2
20
num3
30
num4
40

In [18]:
# you can also use the value() function to return values of a dictionary
# Loop through a dictionary
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
for x in numbers.values():
    print(x)

10
20
30
40

In [23]:
# Check if key exists
# Loop through a dictionary
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
if 'num2' in numbers:
    print("yes ,'num2' is one of the keys in the numbers dictionary")

yes ,'num2' is one of the keys in the numbers dictionary

In [24]:
# Dictionary Length
# Loop through a dictionary
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
print(len(numbers))

4

In [29]:
# Adding items
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
numbers['num5']=100
print(numbers)
numbers['math']='class'
print(numbers)

{'num1': 10, 'num2': 20, 'num3': 30, 'num4': 40, 'num5': 100}
{'num1': 10, 'num2': 20, 'num3': 30, 'num4': 40, 'num5': 100, 'math': 'class'}

In [31]:
# Removing Items use pop() nad we can use popitem() for removing last items
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
numbers.pop('num4')
print(numbers)
numbers1={'num1':10,'num2':20,'num3':30,'num4':40}
numbers1.popitem()
print(numbers1)

{'num1': 10, 'num2': 20, 'num3': 30}
{'num1': 10, 'num2': 20, 'num3': 30}

In [32]:
# Del keyword removes the item with the specified key name:
numbers={'num1':10,'num2':20,'num3':30,'num4':40}
del numbers['num1']
print(numbers)

{'num2': 20, 'num3': 30, 'num4': 40}

In [33]:
# The dict() Constructor
# It is also possible to use the dict() constructor to make a dictonary
thisdict = dict(brand="Ford", model="Mustang", year=1964)
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [35]:
# Python dictionary update() method: more than one items we can update
car = {"brand": "Ford","model": "Mustang", "year": 1964}
car.update({"color": "White",'num':100})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White', 'num': 100}

In [37]:
#  use Values() method:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [38]:
# use of clear() method
car = {"brand": "Ford","model": "Mustang", "year": 1964}
car.clear()
print(car)

{}

In [39]:
# use of copy() command
car = {"brand": "Ford","model": "Mustang", "year": 1964}
x=car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
# python dictionary fromkeys()
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [47]:
# python dictionary fromkeys()
x = ('key1', 'key2', 'key3')
y = 0
z= 10
q= 20
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [48]:
x = ('key1', 'key2', 'key3')
thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [49]:
# use python items() command
car = {"brand": "Ford","model": "Mustang", "year": 1964}
x=car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [50]:
#Python Dictionary keys() Method
car = {"brand": "Ford","model": "Mustang", "year": 1964}
x=car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [51]:
#Python Dictionary popitem() Method,Remove the last item from the dictionary:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [54]:
#Python Dictionary setdefault() Method
car = {"brand": "Ford","model": "Mustang", "year": 1964}
x=car.setdefault('model', 'abcd')
print(x)

Mustang

In [55]:
#Python Dictionary setdefault() Method
car = {"brand": "Ford","model": "Mustang", "year": 1964}
x=car.setdefault('model1', 'abcd')
print(x)

abcd

# Python IF..... Else

In [1]:
# Python condition and if statements
# Equals: a==b
# Not equals: a!=b
# Less than  a<b
# less than or equal to: a>=b
# Greater than: a>b
# Gearter than or equal to a>=b

In [2]:
# if statement:
a=25
b=100
if b>a:
    print('b is greater than a')

b is greater than a

In [5]:
# Elif statement:
a=25
b=55
if b>a:
    print('b is greater than a')
elif a==b:
    print('a and b are equal')

b is greater than a

In [6]:
# Else statement
a=100
b=300
if a > b:
    print('a is greater than b')
elif a<b:
    print('a is less than b')
else:
    print(" a equal to b")

a is less than b

In [7]:
a=20
b=45
if a>b:
    print('a is greater than b')
else:
    print('a is less than b')

a is less than b

In [11]:
# use short hand if
b,a = 45,50
if a>b : print('a is greater than b')
print('a') if a>b else print('b')

a is greater than b
a

In [16]:
# use of logical and , or
a ,b ,c = 20.15 ,25.99,15.29
if a>b and c>a:
    print('Both condition are true')
else:
    print('False')

False

In [17]:
a,b,c=15,20,19
if a>b or c>a:
    print("Both condition are True")
else:
    print('First is True and second is False')

Both condition are True

# While loop

# Python has two primitive loop commands (while loops, for loops)

In [2]:
# While loop we can execute a set of statements as long as a condition is true.
x=1
while x < 5:
    print(x)
    x+=1

1
2
3
4

In [3]:
x=1
while x<5:
    x+=1
    print(x)

2
3
4
5

In [19]:
# The break ststement
x=0
while x < 5:
    print(x)
    x+=1
    break

0

In [21]:
i=0
while i<5:
    print(i)
    i+=1
    if i==3:
        break

0
1
2

In [18]:
i=1
while i<5:
    print(i)
    i+=1
    if i==4:
        break
        i+=1

1
2
3

In [22]:
# The continue statement
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

# Python For loops

In [25]:
# A for loop is used for iterating over a sequence(that is either a list ,a tuple,a dictionary ,a set or string).
# With the for loop we can execute a set of statements, once for each item in a list,tuple,set .
# Even string are iterable in the word 'banana'
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [27]:
fruits=['Apple','banana','cherry']
for x in fruits:
    print(x)
    if x=='banana':
        break

Apple
banana

In [30]:
# The break statement
for i in (1,2,3,4,4):
    print(i)
    if i==3:
        break

1
2
3

In [31]:
fruits=['apple','banana','cherry']
for x in fruits:
    if x == 'banana':
         break
    print(x)

apple

In [36]:
# The continue Statement
fruits=['apple','banana','cherry']
for x in fruits:
    if x=='banana':
        continue
    print(x)

apple
cherry

# The range function

In [37]:
# To loop through a set of code a specified number of times, we can use the range() function
for x in range(5):
    print(x)

0
1
2
3
4

In [38]:
x=5
for i in range(x):
    print(i)

0
1
2
3
4

In [41]:
# Intraval of somme numbers
for x in range(6,16, 4):
    print(x)

6
10
14

In [53]:
# User input 
x=int(input("Enter first number: "))
y=int(input('Enter last number: '))
z=int(input('Enter intraval number: '))
for i in range(x,y,z):
          print(i)

Enter first number: 1
Enter last number: 10
Enter intraval number: 2
1
3
5
7
9

In [54]:
# Nested loop
# A nested loop is a loop inside a loop.
adj=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Python functions

In [55]:
# A functions is a block of code which only runs when it is called.
# You can pass data ,known as parameters , into a function.
# A function can return dta as a rusult.

In [56]:
def my_function():
    print('hello from a function')

In [57]:
my_function() # call function

hello from a function